@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/estilos.css" />

<br />
<br />
<br />
<hr />
<main>
    <div class="text-bg-dark p-3">
    <h4>BIENVENIDOS</h4>
    </div>
</main>