
body {
    font-family: "Ubuntu", helvetica;
    background: #292929;
}

.contenedor-formularios {
    background: #222;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px #222;
}

.contenedor-tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.contenedor-tabs::after {
    content: "";
    display: table;
    clear: both;
}

li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: #292929;
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

li a:hover {
    background: #13859E;
    color: #fff;
}

.active a {
    background: #13859E;
    color: #fff;
}


.contenido-tab > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: #fff;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: #1ab188;
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #fff;
}

input {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    border-radius: 0;
    transition: all 0.5s ease;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #1ab188;
}

.contenedor-input {
    position: relative;
    margin-bottom: 40px;
    color:#fff
}

.button {
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
    background: #13859E;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover {
    background: #179BBF;
}

.button-block {
    display: block;
    width: 100%;
}
